.SectionHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  padding-bottom: 40px;
}

.SectionHome .Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px; 
}


.BotoesContainer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-family: monospace;
}

.BotoesContainer button {
  margin: 0 15px;
}

.Img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  max-height: 400px;
}
