.BotaoGrande {
    background-color: var(--verde_claro);
    color: black;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 300px; 
    height: 100px;
    margin: 10px;
    text-align: center;
  }
  
  .BotaoGrande:hover {
    background-color: var(--verde_escuro);
  }
  