.Banner {
  position: relative;
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
}

.BannerImg {
  width: 75%;
  height: 450px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.Texto {
  position: absolute;
  top: 50%;
  left: 15%; 
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  max-width: 400px;
}
